
body {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('./images/pexels-photo-707049.jpeg');
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
}

header img {
  height: 75px;
  padding: 2px 2px;
}

#images-container {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

main {
  width: 70%;
}

p {
  font-size: 24px;
}

#upload-container {
  background: rgba(0,0,0,0.5);
  width: 20%;
  padding: 20px 20px;
  margin: 0px 25px 0px 0px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

h1 {
  color: #05B8CC;
  font-weight: bolder;
}

input {
  height: 40px;
  padding: 5px;
  margin: 5px 0px;
  background: black;
  color: white;
  font-style: bolder;
  font-size: 24px;
}

::placeholder {
  font-family: 'Roboto';
  font-weight: bolder;
  color: rgba(255,255,255, 1);
}

button {
  height: 40px;
  color: black;
  border-radius: 10px;
  background-color: rgba(193, 195, 197, 1);
  font-family: arial;
  font-size: 28px;
}

a {
  text-decoration: none;
  color: inherit;
}

.images {
  width: 450px;
  padding: 10px 15px;
  margin: 0px 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 10px;
}

.images img {
  max-width: 400px;
  max-height: 450px;
}

.images img:hover {
  width: 95%;
  height: 95%;
}

.images h1 {
  background-color: rgba(0, 0, 0, 0.5);
}

footer {
  width: 100%;
  background: rgba(0,0,0,0.5);
}

#footer-content {
  margin-left: 10px;
  padding: 5px 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  color: white;
}

#footer-content p {
  padding: 0px 10px;
}

#footer-content p:hover {
  background-color: #05B8CC;
  font-size: 24px;
  text-decoration: bolder;
  color: white;
}

#image-placeholder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#image-placeholder h1 {
  font-size: 48px;
  text-align: center;
  padding: 15px;
  background-color: rgba(0,0,0, 0.5);
}

#image-placeholder:hover {
  left: 35px;
}

#image-wrapper {
  overflow: auto;
  margin: auto;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#module {
  z-index: 1000;
  margin: auto;
  position: absolute;
  align-self: center;
  margin-top: 75px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  max-height: 750px;
}

#select-image {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

#select-image h1 {
  background-color: rgba(0,0,0, 0.5);
  padding: 5px;
}

#image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

#module-image {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

#module-image img {
  max-width: 60%;
  padding: 10px;
}

#comments-list {
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-top: 2px solid rgba(0,0,0, 0.5);
}

.name-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

#more {
  visibility: hidden;
}

#comment-upload {
  width: 100%;
}
